<div *ngIf="student && student.departmentSnapshot">
  <div class="card">
    <div class="card-header d-md-flex">
      <h5 [translate]="'Students.AddDepartmentSnapshot'" class="mr-3 my-auto"></h5>
    </div>
    <div class="card-body py-0">
      <div>
        <div class="row border-bottom mb-3">
          <div class="form-group col-12">
            <div class="flex-column">
              <div class="row">
                <div class="col-12 mb-2">
                  <span [translate]="'Students.DepartmentSnapshotDescription'"></span>
                  <div class="text-dark pt-2">
                    <a href="#/departments/{{student.departmentSnapshot?.department}}/dashboard/history"> {{student.departmentSnapshot.description}}</a>
                  </div>
                  <div class="pt-3">
                    <button class="btn btn-default bg-gray-100 border-0" (click)="remove()">
                      <span translate="Students.RemoveDepartmentSnapshot"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
