<div id="search-component">
    <label for="search-box">{{'Spotlight.title' | translate}}</label>
    <div class="position-relative">
        <i class="fa fa-search position-absolute"></i>
        <input #searchBox id="search-box" (keyup.enter)="search(searchBox.value)" class="form-control" type="search"
        placeholder="{{'Spotlight.search' | translate}}">
        <div *ngIf="students?.length > 0">
            <div class="d-flex align-items-center">
                <label>{{'Spotlight.students' | translate}}</label>
                <a class="ml-auto text-indigo" (click)="moreStudentInfo()" href="#/students/list/active">{{'Spotlight.more' | translate}}</a>
            </div>
            <ul class="col-12 search-result">                              
                <li *ngFor="let student of students">
                    <a href="#" (click)="goToStudent(student)">
                        <div class="row"> 
                            <div class="col-12 text-truncate">
                                <i class="fa fa-regular fa-user-graduate student-icon"></i> {{student.label}}
                             </div>
                        </div>
                    </a>                     
                </li>            
            </ul>
        </div>
        <div class="mb-3" *ngIf="students?.length === 0">
            <label>{{'Spotlight.students' | translate}}</label>
            <span [translate]="'Spotlight.noStudentsFound'"></span>
        </div>
        <!--  -->
        <div *ngIf="instructors?.length > 0">
            <div class="d-flex align-items-center">
                <label>{{'Spotlight.instructors' | translate}}</label>
                <a class="ml-auto text-indigo" (click)="moreInstructorInfo()" href="#/instructors/list">{{'Spotlight.more' | translate}}</a>
            </div>
            <ul class="col-12 search-result">
                <li *ngFor="let instructor of instructors" class="text-truncate w-90">
                    <a href="#" (click)="goToInstructor(instructor)">
                        <div class="row"> 
                            <div class="col-12 text-truncate">
                                <i class="fa fa-solid fa-user-tie instructor-icon"></i> {{instructor.label}}
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mb-3" *ngIf="instructors?.length === 0">
            <label>{{'Spotlight.instructors' | translate}}</label>
            <span [translate]="'Spotlight.noInstructorsFound'"></span>
        </div>
    </div>
</div>
