<div *ngIf="!isLoading">
    <!-- back button -->
    <div *ngIf="expression">
        <button [disabled]="!isValidExp" (click)="saveAndHide()" class="btn btn-light mb-4">
            <i class="fa fa-chevron-left pr-1"></i>
            <span>{{'Rules.ComplexRule.EditRules' | translate}}</span>
        </button>
    </div>
    <!--end: back button -->

    <!-- elements for editing rule expression -->
    <div *ngIf="!oneRuleExpression; else oneRuleExp">
        <div class="row">
            <div class="col-5 col-md-2">
                <div class="form-group">
                    <label for="operator">{{'Rules.ComplexRule.SelectOperator' | translate}}</label>
                    <select class="form-control" id="operator">
                        <option *ngFor="let op of operators" value="{{op}}"> {{'Rules.LogicalOperators.' + op | translate}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="btn-toolbar mb-5" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button (click)="save()" class="btn btn-outline-indigo">{{'Rules.ComplexRule.Save' | translate}}</button>
                <button (click)="remove()" class="btn btn-outline-indigo">{{'Rules.ComplexRule.Remove' | translate}}</button>
                <button (click)="append()" class="btn btn-outline-indigo">{{'Rules.ComplexRule.AddOperator' | translate}}</button>
            </div>
            <div class="btn-group mr-2 pt-2 pt-md-0" role="group">
                <div class="dropdown">
                    <button [translate]="'Rules.ComplexRule.AddRule'" class="btn btn-indigo dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ng-container *ngFor="let rule of rules">
                            <a class="dropdown-item text-truncate" (click)="append(rule)">{{rule.description || ('Rules.' + rule.refersTo + 'Rule.Title' | translate)}}</a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <ng-template #oneRuleExp>
        <!-- with just a single rule, only the NOT operator can be used -->
        <div *ngIf="!expression">
            <div class="mb-4"><span [translate]="'Rules.ComplexRule.OneRuleExp'"></span></div>
            <button (click)="setNotExpression()" class="btn btn-indigo">{{'Rules.ComplexRule.FormExpression' | translate}}</button>
        </div>
    </ng-template>
    <!--end: elements for editing rule expression -->

    <!-- display expression and related warnings -->
    <div *ngIf="expression">
        <div class="d-flex mb-2 pb-1">
            <span style="color:#3e515b;font-size:18px;font-weight:450" [translate]="'Rules.ComplexRule.LogicalExpression'"></span>
            <button (click)="resetExpression()" class="btn btn-default my-auto py-0"><i class="fa fa-trash text-indigo"></i></button>
        </div>

        <div *ngIf="isValidExp"><span>{{expression}}</span></div>
        <div *ngIf="!isValidExp" class="alert alert-warning" role="alert">
            <span>{{'Rules.ComplexRule.InvalidLogicalExpression'| translate}}</span><br>
            <small *ngIf="warningMessage">{{'Rules.ComplexRule.InvalidLogicalExpressionMessages.' + warningMessage | translate}}</small>
        </div>
    </div>
    <!--end: display expression and related warnings -->
</div>

<!-- element that will hold the tree -->
<div class="mt-3 rules-tree">
    <div #tree></div>
</div>
