<div class="modal-header border-bottom pb-3 border-gray-100">
  <h4 class="modal-title pull-left" [translate]="'QueryBuilder.History'"></h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closing.emit()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body pt-0 pb-0">

  <ng-container *ngIf="items$ | async;let items">
    <ng-container *ngFor="let groupItems of items | groupBy: 'dateOnlyAccessed' | values">
      <div class="history-group">
        <h5 class="text-secondary font-weight-normal mb-2">{{groupItems[0].dateOnlyAccessed | date: 'mediumDate'}}</h5>
        <ul class="list-group">
          <li *ngFor="let item of groupItems | orderBy: ['-dateAccessed']" class="list-group-item py-1">
            <div class="d-flex flex-row align-items-center">
              <div class="p-1">
                <span class="mr-4">{{item.dateAccessed | date: 'HH:mm'}}</span>
              </div>
              <div class="p-1">
                <span>{{item.description}}</span>
              </div>
              <div class="ml-auto p-1">
                <div class="dropdown">
                  <button class="btn btn-sm btn-default p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="fa-2x text-dots"></span>
                  </button>
                  <div class="dropdown-menu">
                    <button (click)="onNavigate(item)" class="dropdown-item" type="button"
                      [translate]="'QueryBuilder.NavigateTo'"></button>
                    <button (click)="remove(item)" class="dropdown-item" type="button"
                      [translate]="'QueryBuilder.RemoveFromHistory'"></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      </ng-container>
  </ng-container>

  

  <ng-container *ngIf="loading === false && viewItems.length === 0">
    <h3 class="text-gray-200 font-weight-normal" [translate]="'QueryBuilder.EmptyHistory'"></h3>
  </ng-container>



</div>
<div class="modal-footer justify-content-start">
  <button (click)="closing.emit()" class="btn btn-theme" type="button" [translate]="'Close'"></button>
</div>