
<form class="mt-2 collapsible-form">
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label [translate]="'Students.studentIdentifier'"></label>
        <input [disabled]="true" class="form-control bg-white"  name="studentIdentifier" type="text"
               [(ngModel)]="student.student.studentIdentifier">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label [translate]="'Students.Department'"></label>
        <input [disabled]="true" class="form-control bg-white"  name="department" type="text"
               [(ngModel)]="student.student.department.abbreviation">
      </div>
    </div>

    <div class="col-3">
      <div class="form-group text-dark">
        <label  [translate]="'Students.Status'"></label>
        <input [disabled]="true" class="form-control bg-white"  name="studentStatus" type="text"
               [value]="'StudentStatuses.' + student.student.studentStatus.alternateName | translate" [ngClass]="{
                      'text-success': student.student.studentStatus.alternateName ==='active',
                      'text-danger': student.student.studentStatus.alternateName ==='erased' || student.student.studentStatus.alternateName ==='suspended',
                      'text-primary': student.student.studentStatus.alternateName ==='graduated',
                      'text-dark': (student.student.studentStatus.alternateName ==='declared' || student.student.studentStatus.alternateName ==='null'),
                      'text-info': student.student.studentStatus.alternateName ==='candidate'}">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark text-center">
        <label  [translate]="'Students.Grade'"></label>
        <input [disabled]="true" class="form-control bg-white border-0 font-xl text-center mb-2" name="formattedGrade" type="text"
               [value]="this.formattedGrade" [ngClass]="{
                                'text-success': student.isPassed,
                                'text-danger': !student.isPassed}">
      </div>
    </div>
  </div>
</form>
