<div class="card" *ngIf="participateInfo">
  <div class="card-header d-md-flex">
    <h5 class="text-gray-600 mt-3"><span [translate]="'Dashboard.ParticipateRequestInfo'"></span></h5>
    <a href="#/requests/list/examParticipate"
       class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body pt-0 pb-3">
    <div class="card-text row">
      <div class="col-12  text-dark">
        <span [translate]="'Dashboard.ExamPeriod'"></span> :
        {{department.departmentConfiguration.examYear.name}} {{department.departmentConfiguration.examPeriod.name}}

      </div>
    </div>
  </div>
  <div class="card-footer border-top py-4">
    <div class="form-group row mb-1 text-dark">
      <div class="col-12">
        {{'Dashboard.ParticipateDateRanges' | translate}}

      </div>
    </div>
    <div class="form-group row mb-3 text-dark">
      <div class="col-12">
        {{department.departmentConfiguration.examParticipationPeriodStart | localizedDate:'shortDate'}}
        - {{department.departmentConfiguration.examParticipationPeriodEnd | localizedDate: 'shortDate'}}
      </div>
    </div>
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8">
        <span [translate]="'Dashboard.ActiveStudents'"></span>
      </div>
      <div class="col-4 text-dark">
        <span>{{participateInfo.active}}</span>
      </div>
    </div>
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8">
        <span [translate]="'Dashboard.AcceptParticipate'"></span>
      </div>
      <div class="col-4 text-dark">
        <span>{{participateInfo.agree}}</span>
      </div>
    </div>
    <div class="form-group row mb-1 text-secondary">
      <div class="col-8">
        <span [translate]="'Dashboard.DeclineParticipate'"></span>
      </div>
      <div class="col-4 text-dark">
        <span>{{participateInfo.decline}}</span>
      </div>
    </div>
  </div>
</div>

