<div class="col-12 tab-navbar tab-container">
  <ul class="nav d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [queryParams]="referrerRoute.queryParams" [routerLink]="referrerRoute.commands">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Students.StudentTitle'"></span></a>
    </li>
  </ul>

  <div class="row pt-2 pb-2">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="student">
        {{student?.person?.givenName}} {{student?.person?.familyName}} <span class="font-xl">{{ 'Students.StudentID' | translate }}:  {{student?.studentIdentifier}}</span> <span>
        <i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate" class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span>
      </h1>
      <h1 class="my-auto px-0 py-2" *ngIf="isCreate">{{'Students.NewStudent' | translate}}</h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="student">
      <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button> 
    </div>
  </div>
</div>

<router-outlet></router-outlet>
 

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.StudentID'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.studentIdentifier}}</span>
      </div>
    </div>
    <div *ngIf="student.uniqueIdentifier" class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.uniqueIdentifier'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.uniqueIdentifier}}</span>
      </div>
    </div>
    <div *ngIf="student.studentInstituteIdentifier" class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.studentInstituteIdentifier'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.studentInstituteIdentifier}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.Status'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ 'StudentStatuses.' + student.studentStatus.alternateName | translate}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.inscriptionYear'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.inscriptionYear?.alternateName}} {{ 'Periods.' + student.inscriptionPeriod?.alternateName | translate}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.Department'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.department?.abbreviation}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Students.studyProgram'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{student.studyProgram?.abbreviation}}</span>
      </div>
    </div>
  </div>
</ng-template>
