<div *ngIf="model">
  <div *ngIf="model.length != 0">
  <div class="row mt-2" *ngFor="let studyProgram of model;">
    <div class="col-12">
      <card-collapsible>
        <card-header>
          {{studyProgram.program.name}}
          <span>&nbsp;</span> -
          <span *ngIf="studyProgram.program.studyLevel" [translate]="'StudyLevels.' + studyProgram.program.studyLevel.alternateName"></span>
          <span>&nbsp;</span> -
          <span  [translate]="'StudyPrograms.isActive.' + studyProgram.program.isActive"
                [ngClass]="!studyProgram.program.isActive ?'text-danger':'open-grade'"></span>
        </card-header>
        <card-body>
          <app-study-programs-preview-form [model]="studyProgram"></app-study-programs-preview-form>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <a [routerLink]="['/study-programs', studyProgram.program.id, 'preview', 'specialization', studyProgram.studyProgramSpecialty.specialty, 'courses' , { outlets: { modal:['item', studyProgram.specId, 'edit'] } }]" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
            </div>
          </div>
        </card-body>
      </card-collapsible>
    </div>
  </div>
 </div>
  <div *ngIf="model.length == 0">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"  [translate]="'Courses.noStudyPrograms'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
