<div *ngIf="lastSuspensions && lastSuspensions.length > 0">
  <div class="card" *ngFor="let suspension of lastSuspensions">
     <div class="card-header d-md-flex">
      <h5 [translate]="'Students.Suspension.SuspensionTitle'" class="mr-3 my-auto"></h5>
       <a class="text-primary ml-auto my-auto" [routerLink]="['.', { outlets:{ modal:'suspensions/' + suspension.id  + '/edit'} }]" >
         <span [translate]="'Students.Edit'"></span>
       </a>
       <ng-container *ngIf="suspension.isDeletable">
        <a class="text-danger pull-right ml-2 delete-link" (click)="deleteStudentSuspension(suspension)">
          <span [translate]="'Students.Remove'"></span>
        </a>
       </ng-container>
    </div>
    <div class="card-body py-0">
      <div>
        <div class="row suspension-row border-bottom mb-3">
          <div class="form-group col-12">
            <div class="flex-column">
              <div class="mr-3 my-auto">
                <span  [ngClass]="!suspension.reintegrated? 'text-danger' : 'text-secondary'"
                [translateParams]="{
                      active : (!suspension.reintegrated ? 'Students.Suspension.active'  : 'Students.Suspension.noActive') | translate,
                      period : 'Periods.' + suspension?.suspensionPeriod?.alternateName | translate,
                      year : suspension?.suspensionYear.alternateName,
                      periods : suspension?.suspensionPeriods,
                      date : suspension?.suspensionDate | date:'shortDate'}"
                    [translate]="'Students.Suspension.SuspensionSubTitle'">
                </span>
                <div class="mt-2 text-primary" *ngIf="suspension.reintegrated"
                    [translateParams]="{
                      period : 'Periods.' + suspension?.reintegrationPeriod?.alternateName | translate,
                      year : suspension?.reintegrationYear?.alternateName,
                      semester : suspension?.reintegrationSemester,
                      date : suspension?.reintegrationDate | date:'shortDate'}"
                    [translate]="'Students.Suspension.ReintegrationText'">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-12">
            <div class="flex-column">
              <div class="row">
                <div class="col-12 mb-2">
                  <span class="card-title font-weight-bold"
                        [translate]="'Students.Suspension.SuspensionDetails'"></span>
                </div>
                <div class="col-12 col-md-3 mb-1">
                  <span class="text-secondary" [translate]="'Students.Suspension.SuspensionDate'"></span>
                </div>
                <div class="col-12 col-md-3 mb-2 mb-md-1">
                  <span class="text-dark">{{ suspension?.suspensionDate  | date:'shortDate'  }}</span>
                </div>
                <div class="col-12 col-md-3 mb-1">
                  <span class="text-secondary" [translate]="'Students.Suspension.SuspensionPeriod'"></span>
                </div>
                <div class="col-12 col-md-3 mb-2 mb-md-1">
                    <span
                      class="text-dark">{{ 'Periods.' + suspension?.suspensionPeriod?.alternateName | translate}} {{suspension?.suspensionYear?.alternateName}}</span>
                </div>
                <div class="col-12 col-md-3 mb-1">
                  <span class="text-secondary" [translate]="'Students.Suspension.SuspensionType'"></span>
                </div>
                <div class="col-12 col-md-3 mb-2 mb-md-1">
                  <span class="text-dark">{{ suspension?.suspensionType }}</span>
                </div>
                <div class="col-12 col-md-3 mb-1">
                  <span class="text-secondary" [translate]="'Students.Suspension.SuspensionProtocolNumber'"></span>
                </div>
                <div class="col-12 col-md-3 mb-2 mb-md-1">
                  <span class="text-dark">{{ suspension?.suspensionProtocolNumber }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-12">
            <div class="flex-column">
              <div class="row">
                <div class="col-12 mb-2">
                <span class="card-title font-weight-bold"
                      [translate]="'Students.Suspension.ReintegrationDetails'"></span>
                </div>
                <div class="col-12" *ngIf="suspension.reintegrated">
                  <div class="row">
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary" [translate]="'Students.Suspension.ReintegrationDate'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                      <span class="text-dark">{{ suspension?.reintegrationDate  | date:'shortDate'  }}</span>
                    </div>
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary" [translate]="'Students.Suspension.ReintegrationPeriod'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                    <span
                      class="text-dark">{{ 'Periods.' + suspension?.reintegrationPeriod?.alternateName | translate}} {{suspension?.reintegrationYear?.alternateName}}</span>
                    </div>
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary" [translate]="'Students.Suspension.ReintegrationSemester'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                      <span class="text-dark">{{ suspension?.reintegrationSemester }}</span>
                    </div>
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary" [translate]="'Students.Suspension.ReintegrationType'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                      <span class="text-dark">{{ suspension?.reintegrationType }}</span>
                    </div>
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary"
                            [translate]="'Students.Suspension.ReintegrationProtocolNumber'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                      <span class="text-dark">{{ suspension?.reintegrationProtocolNumber }}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="!suspension.reintegrated">
                  <div class="col-12">
                    <span>{{'Students.Suspension.NoReintegrationDetails' | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
