<div *ngIf="currentCourseClasses">
  <div class="card" *ngIf="currentCourseClasses.length > 0">
    <div class="card-body" >
      <div *ngIf="currentCourseClasses.length != 0">
        <div>
          <a [routerLink]="['/courses', this.courseId, 'dashboard', 'classes']" class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
          <div class="row">
            <h5 [translate]="'Courses.CourseClass'" class="mr-3 my-auto"></h5>
            <div class="text-gray-600 align-self-center col-auto font-xs pt-1 pl-1">
              <span [translate]="'Labels.AcademicYear'"> </span>
              {{currentYear.department_currentYear_alternateName}}
            </div>
          </div>
        </div>
        <div id="group-list"  class="flex-column">
          <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-header">
            <li class="sis&#45;&#45;list-group-item">
              <div class="d-flex justify-content-center align-items-center">
                <div class="sis&#45;&#45;list-group-item_lg_column d-none d-md-block " [translate]="'Classes.ClassTitle'"></div>
                <div class="sis&#45;&#45;list-group-item_md_column d-none d-xl-block px-4" [translate]="'Classes.DisplayCode'"></div>
                <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block" [translate]="'Classes.Period'"></div>
                <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block" [translate]="'Classes.Status'"></div>
                <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block" [translate]="'Classes.NumberOfStudents'"></div>
                <div class="sis&#45;&#45;list-group-item_sm_column text-left"></div>`
              </div>
            </li>
          </ul>
          <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-body">
            <li class="sis&#45;&#45;list-group-item" *ngFor="let currentClasses of currentCourseClasses">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis&#45;&#45;list-group-item_lg_column text-truncate"><span class="text-dark">{{ currentClasses.title }}</span></div>
                <div class="sis&#45;&#45;list-group-item_md_column d-none d-xl-block"><span class="text-secondary">{{ currentClasses.course.displayCode }}</span></div>
                <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">
                  {{'Periods.' + currentClasses?.period?.alternateName | translate}}</span></div>
                <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block text-center"><span [ngClass]="currentClasses?.status.alternateName === 'new' ?'text-color-theme': currentClasses?.status.alternateName === 'open' ?'text-success': 'text-danger'" >{{'ClassStatuses.' +  currentClasses.status.alternateName | translate }}</span></div>
                <div class="sis&#45;&#45;list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{ currentClasses.students && currentClasses.students.length?currentClasses.students[0].total:0 }}</span></div>
                <div class="sis&#45;&#45;list-group-item_sm_column text-right">
                  <a [routerLink]="['/classes', currentClasses.id, 'dashboard', 'overview']" class="text-primary text-decoration-none"
                     [translate]="'Courses.View'"></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="mt-4 mb-3 text-left text-gray-600 font-xs" *ngIf="currentCourseClasses.length == 1; else MoreClasses">
          <span>{{ currentCourseClasses.length}} <span  [translate]="'Courses.Class'"></span></span>
        </div>
        <ng-template #MoreClasses>
          <div class="mt-4 mb-3 text-left text-gray-600 font-xs">
            <span>{{ currentCourseClasses.length}} <span  [translate]="'Courses.Classes'"></span></span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div  *ngIf="currentCourseClasses?.length == 0">
    <div class="card">
      <div class="card-header  mt-3" >
        <a [routerLink]="['/courses', this.courseId, 'dashboard', 'classes']" class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 [translate]="'Courses.CourseClass'" class="mr-3 my-auto"></h5>
          <div class="text-gray-600 align-self-center col-auto font-xs pt-1 pl-1">
            <span [translate]="'Labels.AcademicYear'"> </span>
            {{currentYear.department_currentYear_alternateName}}
          </div>
        </div>
      </div>
      <div class="card-body pt-0 pb-3">
      <div class="card-text row pb-2">
        <div class="col-auto text-dark pl-3">
          <span [translate]="'Courses.NoClasses'"></span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

