<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Instructors.UserInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Instructors.GivenName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="givenName" name="givenName" type="text" [(ngModel)]="model.givenName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Instructors.FamilyName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="familyName" name="familyName" type="text" [(ngModel)]="model.familyName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Instructors.MiddleName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="middleName" name="middleName" type="text" [(ngModel)]="model.middleName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="title" [translate]="'Instructors.UserTitle'"></label>
                <input [disabled]="true" class="form-control bg-white" id="title" name="title" type="text" [(ngModel)]="model.title">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Instructors.RegistrationNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text" [(ngModel)]="model.personCode">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="userName" [translate]="'Instructors.UserName'"></label>
                <div *ngIf = "model.user; else noUser ">
                  <input [disabled]="true" class="form-control bg-white" id="userName" name="userName" type="text" [(ngModel)]="model.user.name">
                </div>
                <ng-template #noUser><input [disabled]="true" class="form-control bg-white" id="userName2" name="userName" type="text"></ng-template>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email" [translate]="'Instructors.Email'"></label>
                <input [disabled]="true" class="form-control bg-white" id="email" name="email" type="text" [(ngModel)]="model.email">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="alternateEmail" [translate]="'Instructors.Person.AlternateEmail'"></label>
                <input [disabled]="true" class="form-control bg-white" id="alternateEmail" name="alternateEmail" type="text"
                  [value]="model?.person?.alternateEmail">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="birthDate" [translate]="'Instructors.Person.BirthDate'"></label>                
                <div *ngIf="model.person && model.person.birthDate; else noBirthDate ">
                  <input [disabled]="true" class="form-control bg-white" id="birthDate" name="birthDate" type="text" [value]="model.person.birthDate | date:short">
                </div>
                <ng-template #noBirthDate><input [disabled]="true" class="form-control bg-white" type="text"></ng-template>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="SSN" [translate]="'Instructors.Person.SSN'"></label>
                <input [disabled]="true" class="form-control bg-white" id="SSN" name="SSN" type="text"
                  [value]="model?.person?.SSN">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityCard" [translate]="'Instructors.Person.IdentityCard'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityCard" name="identityCard" type="text"
                  [value]="model?.person?.identityCard">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityType" [translate]="'Instructors.Person.IdentityType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityType" name="identityType" type="text"
                  [value]="model?.person?.identityType?.name">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityDate" [translate]="'Instructors.Person.IdentityDate'"></label>
                <div *ngIf="model.person && model.person.identityDate; else noIdentityDate ">
                  <input [disabled]="true" class="form-control bg-white" id="identityDate" name="identityDate" type="text" [value]="model.person.identityDate | date:short">
                </div>
                <ng-template #noIdentityDate><input [disabled]="true" class="form-control bg-white"type="text"></ng-template>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityAuthority" [translate]="'Instructors.Person.IdentityAuthority'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityAuthority" name="identityAuthority" type="text"
                  [value]="model?.person?.identityAuthority">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityCountry" [translate]="'Instructors.Person.IdentityCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityCountry" name="identityCountry" type="text"
                  [value]="model?.person?.identityCountry?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="vatNumber" [translate]="'Instructors.Person.VatNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="vatNumber" name="vatNumber" type="text"
                  [value]="model?.person?.vatNumber">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="vatOffice" [translate]="'Instructors.Person.VatOffice'"></label>
                <input [disabled]="true" class="form-control bg-white" id="vatOffice" name="vatOffice" type="text"
                  [value]="model?.person?.vatOffice">
              </div>
            </div>
          </div>
          
          <div class="row mt-4">
            <div class="col-12">
              <div class="form-group text-dark">
                <label for="notes" [translate]="'Instructors.Person.Notes'"></label>
                <textarea [disabled]="true" class="form-control bg-white" id="notes" name="notes" type="text" rows="5"
                  [value]="model?.person?.notes"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Instructors.RatingInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="status" [translate]="'Instructors.Status'"></label>
                <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [(ngModel)]="model.status.name">
              </div>
            </div>
            <div class="col-3" *ngIf="model.department">
              <div class="form-group text-dark">
                <label for="department" [translate]="'Instructors.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text" [(ngModel)]="model.department.name">
              </div>
            </div>
            <div class="col-3" *ngIf="!model.department">
              <div class="form-group text-dark">
                <label for="department" [translate]="'Instructors.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="expertise" [translate]="'Instructors.Expertise'"></label>
                <input [disabled]="true" class="form-control bg-white" id="expertise" name="expertise" type="text" [(ngModel)]="model.expertise">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="category" [translate]="'Instructors.Category'"></label>
                <input [disabled]="true" class="form-control bg-white" id="category" name="category" type="text" [(ngModel)]="model.category">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="specialty" [translate]="'Instructors.Specialty'"></label>
                <input [disabled]="true" class="form-control bg-white" id="specialty" name="specialty" type="text" [(ngModel)]="model.specialty">
              </div>
            </div>
            <ng-container *ngIf="model.instructorCode != null">
              <div class="col-3">
                <div class="form-group text-dark">
                  <label for="instructorCode" [translate]="'Instructors.InstituteIdentifier'"></label>
                  <input [disabled]="true" class="form-control bg-white" id="instructorCode" name="instructorCode" type="text" [(ngModel)]="model.instructorCode">
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1" *ngIf="model && model.department">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Instructors.Work'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="university" [translate]="'Instructors.University'"></label>
                <input [disabled]="true" class="form-control bg-white" id="university" name="university" type="text" [(ngModel)]="model.department.organization.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="universityUrl" [translate]="'Instructors.UniversityUrl'"></label>
                <input [disabled]="true" class="form-control bg-white" id="universityUrl" name="universityUrl" type="text" [(ngModel)]="model.department.organization.url">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="universityCity" [translate]="'Instructors.UniversityCity'"></label>
                <input [disabled]="true" class="form-control bg-white" id="universityCity" name="universityCity" type="text" [(ngModel)]="model.department.city">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Instructors.Contact'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeAddress" [translate]="'Instructors.HomeAddress'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeAddress" name="homeAddress" type="text" [(ngModel)]="model.homeAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homePostalCode" [translate]="'Instructors.HomePostalCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homePostalCode" name="homePostalCode" type="text" [(ngModel)]="model.homePostalCode">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeCity" [translate]="'Instructors.HomeCity'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCity" name="homeCity" type="text" [(ngModel)]="model.homeCity">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeCountry" [translate]="'Instructors.HomeCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCountry" name="homeCountry" type="text" [(ngModel)]="model.country?.name || model.country">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homePhone" [translate]="'Instructors.HomePhone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homePhone" name="homePhone" type="text" [(ngModel)]="model.homePhone">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="workAddress" [translate]="'Instructors.WorkAddress'"></label>
                <input [disabled]="true" class="form-control bg-white" id="workAddress" name="workAddress" type="text" [(ngModel)]="model.workAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="workPostalCode" [translate]="'Instructors.WorkPostalCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="workPostalCode" name="workPostalCode" type="text" [(ngModel)]="model.workPostalCode">
              </div>
            </div>
            <div class="col-3">
            <div class="form-group text-dark">
              <label for="workCity" [translate]="'Instructors.WorkCity'"></label>
              <input [disabled]="true" class="form-control bg-white" id="workCity" name="workCity" type="text" [(ngModel)]="model.workCity">
            </div>
          </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="workCountry" [translate]="'Instructors.WorkCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="workCountry" name="workCountry" type="text" [(ngModel)]="model.workCountry?.name || model.workCountry">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="workPhone" [translate]="'Instructors.WorkPhone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="workPhone" name="workPhone" type="text" [(ngModel)]="model.workPhone">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
