<ng-container *ngIf="lastError">
  <!--show error-->
  <div class="row mb-3">
      <div class="alert alert-warning" role="alert">
        <span [translate]="'Theses.FactorsError'"></span><br>
        <small>{{lastError.error?.code}}</small>
      </div>
  </div>
</ng-container>
<div *ngIf="model" >
  <ul div *ngIf="model.length>0" class="sis--list-group sis--list-group-header">
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center">
        <div class="sis--list-group-item_lg_column" [translate]="'Theses.InstructorFullName'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.InstructorCategory'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.RoleName'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block text-center" [translate]="'Theses.Coefficient'"></div>
      </div>
    </li>
  </ul>
  <ul class="sis--list-group sis--list-group-body">
    <li *ngFor="let member of model" class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_lg_column ">
          {{member.member.familyName }} {{member.member.givenName}}
        </div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">{{member.member.category}}</div>
<!--        <div *ngIf="member.roleName==='supervisor'" class="sis&#45;&#45;list-group-item_lg_column d-none d-md-block">{{'RoleNames.' + member.roleName | translate}}</div>-->
        <div class="sis--list-group-item_lg_column d-none d-md-block" >
          <select class="form-control form-select"
                  [(ngModel)]="member.roleName">
            <ng-container *ngFor="let role of availableRoles.values">
              <option [value]="role">{{'RoleNames.' + role | translate}}</option>
            </ng-container>
          </select>
        </div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">
          <input class="form-control bg-white text-center" type="text" [(ngModel)]="member.factor">
        </div>
      </div>
    </li>
  </ul>

  <div class="mb-3 pt-4" [translate]="'Theses.FactorsInfo'"></div>
</div>
