<div>
  <!-- failed to fetch info -->
  <ng-container *ngIf="lastMessage">
    <div class="alert alert-warning col-12" role="alert">
      <span> {{lastMessage}} </span>
    </div>
  </ng-container>
  <!-- begin candidates display -->
  <ng-container *ngIf="actionResults && actionResults.length">
    <ul class="sis--list-group sis--list-group-body">
      <!-- begin candidates loop -->
      <ng-container *ngFor="let result of actionResults">
          <div class="sis--list-group-item_xl_column mt-2"><span [translate]="'Candidates.InscriptionNumber'"></span><span> {{ result.inscriptionNumber }}</span>
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_xl_column d-none d-xl-block"><span class="font-xs text-secondary">{{ result.additionalMessage }}</span></div>
            </div>
          </div>
      </ng-container>
    </ul>
  </ng-container>
  <ng-container *ngIf="actionResults && actionResults.length === 0" >
    <div class="alert alert-info col-12 mt-2" [translate]="'Candidates.UploadActions.NoResults'"></div>
  </ng-container>
</div>
