<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h5 class="modal-title">{{modalTitle | translate}}</h5>
    <button (click)="cancel()" [disabled]="loading"
    type="button" class="close" data-dismiss="modal" aria-label="Cancel">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <div class="row" *ngIf="lastError">
      <div class="alert alert-warning col-12" role="alert">
        <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br>
        <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
        <small *ngIf="lastError.statusCode == null">{{lastError.message}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-container>
          <advanced-form-edit #formComponent [formName]="'Students/add-attachment-helper'" ></advanced-form-edit>
        </ng-container>
      </div>
    </div>
    <div class="mt-3">
      <ngx-dropzone [multiple]="false" [accept]="'image/jpeg,image/jpg,image/png,image/gif,application/pdf'" (change)="onFileSelect($event)">
      <ngx-dropzone-label style="z-index: 0" class="p-2">{{'Register.AddAttachmentInfo' | translate}}</ngx-dropzone-label>
      <ng-container *ngFor="let f of this.attachments">
        <ngx-dropzone-preview [file]="f" [removable]="true" (removed)="onFileRemove(f)">
        <ngx-dropzone-label class="text-truncate"> {{f?.name}} </ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ng-container>
      </ngx-dropzone>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button [disabled]="okButtonDisabled || loading " (click)="ok()"
    type="button" [ngClass]="okButtonClass">
    {{'OK' | translate}}
    </button>
    <button [disabled]="cancelButtonDisabled || loading"
    (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
    {{'Cancel' | translate}}
    </button>
  </div>
</div>